.img-cont {
  animation: flipInX;
  animation-duration: 1s;
}
.img-cont:hover .img-page {
  animation: flipInY;
  animation-duration: 0.7s;
}

.pulsate {
  transform-origin: left;
  animation: pulsate 3s ease-in-out 1s infinite;
}

@keyframes pulsate {
  0% {
    color: rgb(229 231 235);

    border-top-left-radius: 50px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 50px;
  }
  15% {
    transition: 0.5s ease-out;
    background-color: rgb(159, 63, 77);
  }

  100% {
    color: rgb(229 231 235);

    border-top-left-radius: 50px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 50px;
  }
}
